<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.enzosv.alfredswiftcolorpicker</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2E8407A1-3FF4-4121-9431-1C5DBA642AD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EED1692-A1A6-45C1-89FF-CF80D8D96348</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35FDB35A-2711-4F26-B265-BF806FE77B31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A51C02F4-158A-47A0-862C-4323C50CE339</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3701E99A-1E77-4E60-9777-3B91747DA10E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E8407A1-3FF4-4121-9431-1C5DBA642AD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FE0793A-FEED-42AD-B3D7-00C974130A42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A51C02F4-158A-47A0-862C-4323C50CE339</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0B59142-AD75-4F14-BCFC-0643C8001CE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A51C02F4-158A-47A0-862C-4323C50CE339</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A51C02F4-158A-47A0-862C-4323C50CE339</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3701E99A-1E77-4E60-9777-3B91747DA10E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3F16F07-D7C3-4410-866B-F582B2FE4ADA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E8407A1-3FF4-4121-9431-1C5DBA642AD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4C3B68E-E129-4F1E-B3CB-F9FE6D1BE305</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A51C02F4-158A-47A0-862C-4323C50CE339</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Enzo Vergara</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Swift Color Picker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>picker</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Swift Color Picker</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A0B59142-AD75-4F14-BCFC-0643C8001CE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>color picker</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Swift Color Picker</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>35FDB35A-2711-4F26-B265-BF806FE77B31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./from_picker.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert to UIColor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3701E99A-1E77-4E60-9777-3B91747DA10E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./picker.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A51C02F4-158A-47A0-862C-4323C50CE339</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>swift color picker</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Swift Color Picker</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FE0793A-FEED-42AD-B3D7-00C974130A42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2E8407A1-3FF4-4121-9431-1C5DBA642AD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1EED1692-A1A6-45C1-89FF-CF80D8D96348</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>c</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Swift Color Picker</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F4C3B68E-E129-4F1E-B3CB-F9FE6D1BE305</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rgb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>converting</string>
				<key>script</key>
				<string>./from_rgb.sh $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>rgb</string>
				<key>title</key>
				<string>Convert to UIColor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E3F16F07-D7C3-4410-866B-F582B2FE4ADA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EED1692-A1A6-45C1-89FF-CF80D8D96348</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>2E8407A1-3FF4-4121-9431-1C5DBA642AD9</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>35FDB35A-2711-4F26-B265-BF806FE77B31</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>3701E99A-1E77-4E60-9777-3B91747DA10E</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>9FE0793A-FEED-42AD-B3D7-00C974130A42</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A0B59142-AD75-4F14-BCFC-0643C8001CE8</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A51C02F4-158A-47A0-862C-4323C50CE339</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>E3F16F07-D7C3-4410-866B-F582B2FE4ADA</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>F4C3B68E-E129-4F1E-B3CB-F9FE6D1BE305</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>github.com/enzosv</string>
</dict>
</plist>
